.navbar {
    height: 30px;
    padding: 5px;
}

.navbar__links {
    display: flex;
    justify-content: center;
}

.navbar__link {
    color: #264653;
    text-decoration: none;
    margin: 0 5px;
}

.active {
    text-decoration: underline;
    font-weight: 700;
}